/.idea
/.idea/.gitignore
/.idea/codeStyles/codeStyleConfig.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/PikPakAutoOfflineDownloadBot.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml

aria2-config/
.venv/
__pycache__/
*.pyc

# Local task state DB
state.db
state.db-journal
state.db-wal
state.db-shm
debuglog.txt